.battle-invitation-mask{
    z-index: 100;
}
.battle-invitation-module{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    width: 33.5rem;
    padding: 2.2rem 2rem 3.5rem;
    background: #BD8D64;
    border-radius: 1.5rem;
    border: 2px solid #60483A;
    text-align: center;
    .close-btn{
        position: absolute;
        top:3rem;
        right:2rem;
        width:1.8rem;
        height:1.8rem;
        background: url('../../../assets/img/common/close.png') no-repeat center center;
        background-size: 1.8rem;
        cursor: pointer;
        z-index: 2;
    }
    .title{
        color: #3F3027;
        font-family: Gagalin;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        .rule-btn{
            margin-left:0.6rem;
            width:2rem;
            height:2rem;
            background:url('../../../assets/img/common/ic-tip.png') no-repeat center center;
            background-size: 2rem;
            cursor: pointer;
        }
    }


    .invite-user{
        margin-top:2rem;
        .avatar{
            margin: 0 auto;
            width:5rem;
            height:5rem;
            background: url() no-repeat center center;
            background-size: cover;
            position: relative;
            .user-status{
                position: absolute;
                right: -0.5rem;
                bottom: 0;
                width: 1.4rem;
                height:1.4rem;
                background: url() no-repeat center center;
                background-size: cover;
            }
        }
        .name{
            margin-top:0.4rem;
            width: 100%;
            color: #3F3027;
            font-family: "LogoSC LongZhuTi";
            font-size: 1.4rem;
            letter-spacing: 0;
            line-height: 1.8rem;
            font-weight: 700;
            text-align: center;
        }
        .battle-rewards{
            margin:0.8rem auto 0;
            height: 3.3rem;
            padding: 0 1.5rem;
            border-radius: 0.5rem;
            background: rgba(202, 173, 149, 0.31);
            display: inline-flex;
            align-items: center;

            font-family: "LogoSC LongZhuTi";
            font-size: 2rem;
            color: #3F3027;
            text-align: center;
            line-height: 3.3rem;
            font-weight: 400;
            .coin{
                margin-left:0.5rem;
                width:2rem;
                height:2rem;
                background: url('../../../assets/img/common/coin.png') no-repeat center center;
                background-size: contain;
            }
        }
    }

    .content{
        margin-top:1.5rem;
        padding-top:1.4rem;
        border-top: 1px solid #976F51;
        .tabs{
            display: flex;
            align-items: center;
            .tab-item{
                width: 50%;
                padding-bottom: 0.8rem;
                color: #815B46;
                font-family: "LogoSC LongZhuTi";
                font-size: 1.2rem;
                letter-spacing: 0;
                text-align: center;
                font-weight: 500;
                position: relative;
                cursor: pointer;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left:50%;
                    transform: translateX(-50%);
                    width: 2.5rem;
                    height:0.2rem;
                    background: #3F3027;
                    display: none;
                }
                &.active{
                    color: #3F3027;
                    font-weight: 600;
                    &::after{
                        display: block;
                    }
                }
            }
        }
        .info{
            margin:1.4rem auto 0;
            width: 20.7rem;
            height:6.5rem;
            background: #CD9F77;
            border-radius: 1rem;;
            &.battle-info{
                padding: 1.5rem;
                .key-value{
                    margin-top:0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .value{
                        font-family: "LogoSC LongZhuTi";
                        font-size: 1rem;
                        color: #3F3027;
                        line-height: 1.5rem;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        .ic-coin{
                            margin-left:0.8rem;
                            width:2rem;
                            height:2rem;
                            background: url("../../../assets/img/common/coin.png") no-repeat center center;
                            background-size: contain;
                        }
                    }
                    .key{
                        font-family: "LogoSC LongZhuTi";
                        font-size: 1rem;
                        color: #60483A;
                        letter-spacing: 0;
                        line-height: 1.5rem;
                        font-weight: 400;
                    }
                    &:first-child{
                        margin-top:0;
                    }
                }
            }
            &.tegen-info{
                padding: 0.5rem 1.2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .key-value{
                    width:50%;
                    .value{
                        font-family: "LogoSC LongZhuTi";
                        font-size: 1rem;
                        color: #3F3027;
                        line-height: 1.5rem;
                        font-weight: 700;
                        text-align: center;
                    }
                    .key{
                        margin-top:0.3rem;
                        font-family: "LogoSC LongZhuTi";
                        font-size: 1rem;
                        color: #60483A;
                        letter-spacing: 0;
                        line-height: 1.5rem;
                        font-weight: 400;
                        text-align: center;
                    }
                }
            }
        }
    }


    .battle-btns{
        margin:2.3rem 2.3rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .battle-btn{
            width:12.3rem;
            height:3.2rem;
            padding-bottom: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Gagalin;
            font-size: 1.4rem;
            color: #282722;
            cursor: pointer;

            background: url('../../../assets/img/common/small-yellow-btn-bg.png') no-repeat center center;
            background-size: contain;
            &.decline-btn{
                background-image: url('../../../assets/img/common/small-gray-btn-bg.png')
            }
        }
    }


    .block-invitation{
        margin:2.2rem 3rem 0;
        padding-left:2rem;
        font-family: Lato;
        font-size: 1rem;
        color: #60483A;
        letter-spacing: 0;
        line-height: 1.4rem;
        font-weight: 400;
        text-align: left;
        background: url('../../../assets/img/common/ic-radio.png') no-repeat left 0.3rem;
        background-size: 1rem;
        cursor: pointer;
        &.active{
            background-image: url('../../../assets/img/common/ic-radio-active.png')
        }
    }
    
}