.start-battle{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 99;
    background: #E5D2B2;

    .start-battle-content{
        position: absolute;
        top: 50%;
        left:0;
        transform: translateY(-50%);
        width:100%;
        .battle-title{
            font-family: SourceCodePro-BoldIt;
            font-size: 1.8rem;
            color: #322314;
            letter-spacing: 0;
            text-align: center;
            font-weight: 700;
            font-style: italic;
        }
        .battle-animation{
            margin-top:6rem;
            height:40rem;
            position: relative;
            .left-user{
                height: 20rem;
                background: url('../../../assets/images/battle/start/left-1.png') no-repeat left center;
                background-size: auto 20rem;
                -webkit-animation: LeftUserShow 0.6s ease both;
                animation: LeftUserShow 0.6s ease both;
                animation-delay: 0.2s;
                position: relative;
                .left-user-img{
                    height: 20rem;
                    background: url('../../../assets/images/battle/start/left-2.png') no-repeat left center;
                    background-size: auto 20rem;
                    -webkit-animation: LeftUserShoot 0.2s ease infinite;
                    animation: LeftUserShoot 0.2s ease infinite;
                    animation-delay: 0.79s;
                    opacity: 0;
                    &.hide{
                        display: none;
                    }
                }
            }
            .right-user{
                height: 20rem;
                background: url('../../../assets/images/battle/start/right-1.png') no-repeat right center;
                background-size: auto 20rem;
                -webkit-animation: RightUserShow 0.6s ease both;
                animation: RightUserShow 0.6s ease both ;
                animation-delay: 0.2s;
                position: relative;
                .right-user-img{
                    height: 20rem;
                    background: url('../../../assets/images/battle/start/right-2.png') no-repeat right center;
                    background-size: auto 20rem;
                    -webkit-animation: RightUserShoot 0.2s ease infinite;
                    animation: RightUserShoot 0.2s ease infinite;
                    animation-delay: 0.79s;
                    opacity: 0;
                    &.hide{
                        display: none;
                    }
                }
            }
            .user-info{
                position: absolute;
                top: 0;
                left: 0;
                width:57%;
                height:5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                &.right-user-info{
                    left: 50%;
                    width: 50%;
                    .name{
                        margin-right:0;
                        margin-left:1.2rem;
                    }
                }
                .avatar{
                    width:2.4rem;
                    height:2.4rem;
                    border-radius: 50%;
                    background: url('') no-repeat center center;
                    background-size: cover;
                }
                .name{
                    margin-right:1.2rem;
                    max-width: 10rem;
                    font-family: SourceCodePro-Semibold;
                    font-size: 1.3rem;
                    color: #000000;
                    letter-spacing: 0;
                    line-height: 1.6rem;
                    font-weight: 600;
                }
            }
            .lightning{
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                transform: translateZ(6000px);
                
                background: url('../../../assets/images/battle/start/lightning.png') no-repeat center center;
                background-size: 5.2rem;
                -webkit-animation: LightningShow 0.3s ease forwards;
                animation: LightningShow 0.3s ease forwards;
                animation-delay: 0.2s;
                opacity: 0;
            }
            &.hide{
                .left-user{
                    -webkit-animation: LeftUserHide 0.6s ease both;
                    animation: LeftUserHide 0.6s ease both;
                }
                .right-user{
                    -webkit-animation: RightUserHide 0.6s ease both;
                    animation: RightUserHide 0.6s ease both;
                }
                .lightning{
                    -webkit-animation: LightningHide 0.35s ease forwards;
                    animation: LightningHide 0.35s ease forwards;
                    animation-delay: 0.15s;
                }
            }
        }
    }


    @keyframes LightningShow{
        0%{
            transform: translateZ(6000px) scale(7);
            opacity: 0;
        }
        100%{
            transform:  translateZ(0) scale(1);
            opacity: 1;
        }
    }
    @-webkit-keyframes LightningShow{
        0%{
            -webkit-transform:  translateZ(6000px) scale(7);
            opacity: 0;
        }
        100%{
            -webkit-transform:  translateZ(0) scale(1);
            opacity: 1;
        }
    }

    @keyframes LightningHide{
        0%{
            transform:  translateZ(0) scale(1);
            opacity: 1;
        }
        100%{
            transform: translateZ(6000px) scale(7);
            opacity: 0;
        }
    }
    @-webkit-keyframes LightningHide{
        0%{
            -webkit-transform:  translateZ(0) scale(1);
            opacity: 1;
        }
        100%{
            -webkit-transform:  translateZ(6000px) scale(7);
            opacity: 0;
        }
    }



    @keyframes LeftUserShow{
        0%{
            transform: translateX(-28rem);
            background-image: url('../../../assets/images/battle/start/left-1.png')
        }
        50%,83.3%{
            transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/left-1.png')
        }
        83.4%, 99.9999%{
            transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/left-2.png')
        }
        100%{
            transform: translateX(0);
            background-image: url('')
        }
    }
    @-webkit-keyframes LeftUserShow{
        0%{
            -webkit-transform: translateX(-28rem);
            background-image: url('../../../assets/images/battle/start/left-1.png')
        }
        50%,83.3%{
            -webkit-transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/left-1.png')
        }
        83.4%, 99.9999%{
            -webkit-transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/left-2.png')
        }
        100%{
            -webkit-transform: translateX(0);
            background-image: url('')
        }
    }


    @keyframes LeftUserHide{
        0%,20%{
            transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/left-2.png')
        }
        20.1%,40%{
            transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/left-1.png')
        }
        100%{
            transform: translateX(-28rem);
            background-image: url('../../../assets/images/battle/start/left-1.png')
        }
    }
    @-webkit-keyframes LeftUserHide{
        0%,20%{
            transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/left-2.png')
        }
        20.1%,40%{
            transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/left-1.png')
        }
        100%{
            transform: translateX(-28rem);
            background-image: url('../../../assets/images/battle/start/left-1.png')
        }
    }

    @keyframes LeftUserShoot{
        0%,100%{
            opacity: 1;
            background-image: url('../../../assets/images/battle/start/left-2.png')
        }
        50%{ 
            opacity: 1;
            background-image: url('../../../assets/images/battle/start/left-3.png')
        }
    }



    @keyframes RightUserShow{
        0%{
            transform: translateX(28rem);
            background-image: url('../../../assets/images/battle/start/right-1.png')
        }
        50%,83.3%{
            transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/right-1.png')
        }
        83.4%, 99.9999%{
            transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/right-2.png')
        }
        100%{
            transform: translateX(0);
            background-image: url('')
        }
    }
    @-webkit-keyframes RightUserShow{
        0%{
            -webkit-transform: translateX(28rem);
            background-image: url('../../../assets/images/battle/start/right-1.png')
        }
        50%,83.3%{
            -webkit-transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/right-1.png')
        }
        83.4%, 99.9999%{
            -webkit-transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/right-2.png')
        }
        100%{
            -webkit-transform: translateX(0);
            background-image: url('')
        }
    }
    @keyframes rightUserHide{
        0%,20%{
            transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/right-2.png')
        }
        20.1%,40%{
            transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/right-1.png')
        }
        100%{
            transform: translateX(28rem);
            background-image: url('../../../assets/images/battle/start/right-1.png')
        }
    }
    @-webkit-keyframes RightUserHide{
        0%,20%{
            transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/right-2.png')
        }
        20.1%,40%{
            transform: translateX(0);
            background-image: url('../../../assets/images/battle/start/right-1.png')
        }
        100%{
            transform: translateX(28rem);
            background-image: url('../../../assets/images/battle/start/right-1.png')
        }
    }

    @keyframes RightUserShoot{
        0%,100%{
            opacity: 1;
            background-image: url('../../../assets/images/battle/start/right-2.png')
        }
        50%{ 
            opacity: 1;
            background-image: url('../../../assets/images/battle/start/right-3.png')
        }
    }
}