.leave-battle-module{
    .close-btn{
        position: absolute;
        top:3rem;
        right:2rem;
        width:1.8rem;
        height:1.8rem;
        background: url('../../../assets/images/common/ic-close.png') no-repeat center center;
        background-size: 1.8rem;
        cursor: pointer;
    }
    .leave-tip{
        font-family: SourceCodePro-Semibold;
        font-size: 1.5rem;
        color: rgba(255,255,255,0.5);
        letter-spacing: 0;
        text-align: center;
        line-height: 2.3rem;
        font-weight: 600;
    }
    .battle-rewards{
        margin-top:2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: SourceCodePro-Bold;
        font-size: 1.8rem;
        color: #FFFFFF;
        text-align: center;
        line-height: 2.2rem;
        font-weight: 700;
        .coin{
            margin-left:0.8rem;
            width:1.5rem;
            height:1.5rem;
            background: url('../../../assets/images/common/ic-coin.png') no-repeat right center;
            background-size: 1.5rem;
        }
    }
    .leave-battle-btns{
        margin-top:3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .leave-battle-btn{
            width:13rem;
            height:5rem;
            background: url('') no-repeat center bottom;
            background-size: 100%;
            font-family: SourceCodePro-Medium;
            font-size: 1.4rem;
            color: #000000;
            letter-spacing: 0;
            text-align: center;
            font-weight: 500;
            line-height:4.2rem;
            cursor: pointer;
            &.leave-btn{
                -webkit-animation: SmallWhiteBtn 1s ease infinite;
                animation: SmallWhiteBtn 1s ease infinite;
            }
            &.stay-btn{
                -webkit-animation: SmallGreenBtn 1s ease infinite;
                animation: SmallGreenBtn 1s ease infinite;
            }
        }
    }
    
}