.profile-mask{
    -webkit-animation:  MaskShow 0.6s ease both;
    animation:  MaskShow 0.6s ease both;
    &.hide{
        -webkit-animation:  MaskHide 0.6s ease both;
        animation:  MaskHide 0.6s ease both;
    }
}


.profile-module{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    width: 33.5rem;
    padding: 3rem 2.6rem 5rem;
    background: #BD8D64;
    border-radius: 1.5rem;
    border: 2px solid #60483A;

    -webkit-animation:  Show 0.6s ease both;
    animation:  Show 0.6s ease both;
    &.hide{
        -webkit-animation:  Hide 0.6s ease both;
        animation:  Hide 0.6s ease both;
    }
    .close-btn{
        position: absolute;
        top:3rem;
        right:2rem;
        width:1.8rem;
        height:1.8rem;
        background: url('../../assets/img/common/close.png') no-repeat center center;
        background-size: 1.8rem;
        cursor: pointer;
    }
    // .title{
    //     font-family: SourceCodePro-Bold;
    //     font-size: 1.7rem;
    //     color: #FFFFFF;
    //     line-height: 2.1rem;
    //     font-weight: 700;
    // }
    .user{
        display: flex;
        flex-direction: column;
        align-items: center;
        .avatar{
            width:5rem;
            height:5rem;
            border-radius: 50%;
            background: url() no-repeat center center;
            background-size: cover;
            position: relative;
            .user-status{
                position: absolute;
                right: -0.5rem;
                bottom: 0;
                width: 1.4rem;
                height:1.4rem;
                background: url() no-repeat center center;
                background-size: cover;
            }
        }
        .name{
            margin-top:0.4rem;
            width: 100%;
            color: #3F3027;
            font-family: "LogoSC LongZhuTi";
            font-size: 1.4rem;
            letter-spacing: 0;
            line-height: 1.8rem;
            font-weight: 700;
            text-align: center;
        }
        .coins{
            margin:0.8rem auto 0;
            height: 3.3rem;
            padding: 0 1.5rem;
            border-radius: 0.5rem;
            background: rgba(202, 173, 149, 0.31);
            display: inline-flex;
            align-items: center;

            font-family: "LogoSC LongZhuTi";
            font-size: 2rem;
            color: #3F3027;
            text-align: center;
            line-height: 3.3rem;
            font-weight: 400;
            .coin{
                margin-left:0.5rem;
                width:2rem;
                height:2rem;
                background: url('../../assets/img/common/coin.png') no-repeat center center;
                background-size: contain;
            }
        }
        .coins-tip{
            margin-top:0.5rem;
            color: #815B46;
            font-family: "LogoSC LongZhuTi";
            font-size: 1rem;
            text-align: center;
            line-height: 1.5rem;
            font-weight: 500;
        }
        .info{
            margin-top:1rem;
            width:24rem;
            height:3rem;
            background: rgba(255,255,255,0.08);
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: SourceCodePro-Regular;
            font-size: 1.2rem;
            color: rgba(255,255,255,0.7);
            letter-spacing: 0;
            text-align: center;
            font-weight: 400;
            clip-path: polygon(0.5rem 0.5rem, 0.5rem 0, calc(100% - 0.5rem) 0, calc(100% - 0.5rem) 0.5rem, 100% 0.5rem, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) calc(100% - 0.5rem),calc(100% - 0.5rem) 100%,  0.5rem 100%, 0.5rem calc(100% - 0.5rem), 0 calc(100% - 0.5rem), 0 0.5rem);
        }
    }
    .content{
        margin-top:1.6rem;
        padding-top: 1.2rem;
        padding-bottom: 4rem;
        border-top: 1px solid #976F51;
        .tabs{
            display: flex;
            align-items: center;
            .tab-item{
                width: 50%;
                padding-bottom: 0.8rem;
                color: #815B46;
                font-family: "LogoSC LongZhuTi";
                font-size: 1.2rem;
                letter-spacing: 0;
                text-align: center;
                font-weight: 500;
                position: relative;
                cursor: pointer;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left:50%;
                    transform: translateX(-50%);
                    width: 2.5rem;
                    height:0.2rem;
                    background: #3F3027;
                    display: none;
                }
                &.active{
                    color: #3F3027;
                    font-weight: 600;
                    &::after{
                        display: block;
                    }
                }
            }
        }
        .list{
            margin-top:1.4rem;
            height:12rem;
            .item{

                margin-bottom:0.5rem;
                height:5.5rem;
                padding: 0 1.6rem 0 1.2rem;
                background: #EAC09B;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                // justify-content: space-between;
                position: relative;
                &:last-child{
                    margin-bottom: 0;
                }
                .key-value{
                    width: 50%;
                    &:nth-child(2){
                        padding-left: 2rem;
                        border-left: 1px solid #A0704D;
                    }
                    .value{
                        margin-top:0.4rem;
                        font-family: "LogoSC LongZhuTi";
                        font-size: 1.2rem;
                        color: #3F3027;
                        letter-spacing: 0;
                        line-height: 1.5rem;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        // justify-content: center;
                        .ic-coin{
                            margin-left:0.5rem;
                            width:2rem;
                            height:2rem;
                            background: url("../../assets/img/common/coin.png") no-repeat center center;
                            background-size: contain;
                        }
                    }
                    .key{
                        opacity: 0.5;
                        font-family: Gagalin;
                        font-size: 1.2rem;
                        color: #A0704D;
                        letter-spacing: 0;
                        line-height: 1.5rem;
                        font-weight: 400;
                        text-align: left;
                    }
                }
                &::after{
                    content:"";
                    position: absolute;
                    bottom:0;
                    right:0;
                    width:6.6rem;
                    height:5.6rem;
                    background: url("../../assets/img/profile/bg-btc.png") no-repeat right bottom;
                    background-size: contain;
                }
                &.eth{
                    background: #CBB8D7;
                    &::after{
                        background-image: url("../../assets/img/profile/bg-eth.png");
                    }

                }
                &.ton{
                    // background: #ADCAFF;
                    // &::after{
                    //     background-image: url("../../assets/img/profile/bg-ton.png");
                    // }
                }
            }
            &.zen{
                .item .item-right{
                    justify-content: flex-end;
                    .key-value:last-child{
                        display: none;
                    }
                }
            }
        }
    }

    .profile-btns{
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        padding: 3rem 0 3.5rem;
        background: linear-gradient(180deg, rgba(189, 141, 100, 0.00) 12.63%, #BD8D64 68.95%);
        display: flex;
        align-items: center;
        justify-content: center;
        .operate-btn{
            padding-bottom: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Gagalin;
            font-size: 1.4rem;
            color: #282722;
            cursor: pointer;
        }
        &.other{
            .operate-btn{
                margin: 0 0.7rem;
                width:12.3rem;
                height:3.2rem;
                background: url('../../assets/img/common/small-yellow-btn-bg.png') no-repeat center center;
                background-size: contain;
                &.profile-btn{
                    background-image: url('../../assets/img/common/small-gray-btn-bg.png')
                }
            }
        }
        &.self{
            .operate-btn{
                width:18.6rem;
                height:3.2rem;
                &.profile-btn{
                    background: url('../../assets/img/common/gray-btn-bg.png') no-repeat center center;
                    background-size: contain;
                }
            }

        }
    }
}