.settings-mask{
    -webkit-animation:  MaskShow 0.6s ease both;
    animation:  MaskShow 0.6s ease both;
    cursor: pointer;
    &.hide{
        -webkit-animation:  MaskHide 0.6s ease both;
        animation:  MaskHide 0.6s ease both;
    }
}

.settings-module{
    padding: 3rem 0 3rem 3rem!important;
    -webkit-animation:  Show 0.6s ease both;
    animation:  Show 0.6s ease both;
    cursor: default;
    &.hide{
        -webkit-animation:  Hide 0.6s ease both;
        animation:  Hide 0.6s ease both;
    }
    .close-btn{
        position: absolute;
        top:3rem;
        right:2rem;
        width:1.8rem;
        height:1.8rem;
        background: url('../../../assets/images/common/ic-close.png') no-repeat center center;
        background-size: 1.8rem;
        cursor: pointer;
    }
    .title{
        padding-bottom:1.5rem;
        font-family: SourceCodePro-Bold;
        font-size: 1.7rem;
        color: #FFFFFF;
        line-height: 2.1rem;
        font-weight: 700;
    }
    .mini-title{
        margin-top:3rem;
        font-family: SourceCodePro-Regular;
        font-size: 1.2rem;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 1.7rem;
        font-weight: 400;
        &:first-child{
            margin-top:1.5rem;
        }
    }

    .btn-group{
        margin-top:1.2rem;
        width:11.6rem;
        display: flex;
        justify-content: center;
        background: #0E0E0E;
        clip-path: polygon(0.4rem 0.4rem, 0.4rem 0, calc(100% - 0.4rem) 0, calc(100% - 0.4rem) 0.4rem, 100% 0.4rem, 100% calc(100% - 0.4rem), calc(100% - 0.4rem) calc(100% - 0.4rem),calc(100% - 0.4rem) 100%,  0.4rem 100%, 0.4rem calc(100% - 0.4rem), 0 calc(100% - 0.4rem), 0 0.4rem);
        .btn{
            width:5.8rem;
            height:2.8rem;
            background: rgba(255,255,255,0.1);
            font-family: SourceCodePro-Medium;
            font-size: 1.3rem;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            font-weight: 500;
            line-height:2.8rem;
            cursor: pointer;
            &.active{
                background: #FFFFFF;
                color: #000000;
                clip-path: polygon(0.4rem 0.4rem, 0.4rem 0, calc(100% - 0.4rem) 0, calc(100% - 0.4rem) 0.4rem, 100% 0.4rem, 100% calc(100% - 0.4rem), calc(100% - 0.4rem) calc(100% - 0.4rem),calc(100% - 0.4rem) 100%,  0.4rem 100%, 0.4rem calc(100% - 0.4rem), 0 calc(100% - 0.4rem), 0 0.4rem);
            }
            
        }
    }
    
    
    .save-btn{
        margin-top:3rem;
        width:27.5rem;
        height:5rem;
        background: url('../../../assets/images/common/btn-2.png') no-repeat center bottom;
        background-size: 100%;
        -webkit-animation: Btn 1s ease infinite;
        animation: Btn 1s ease infinite;
        font-family: SourceCodePro-Medium;
        font-size: 1.4rem;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
        font-weight: 500;
        line-height:4.2rem;
        cursor: pointer;
    }
}