.settings-mask{
    -webkit-animation:  MaskShow 0.6s ease both;
    animation:  MaskShow 0.6s ease both;
    cursor: pointer;
    &.hide{
        -webkit-animation:  MaskHide 0.6s ease both;
        animation:  MaskHide 0.6s ease both;
    }
}

.settings-module{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    width: 33.5rem;
    padding: 3rem;
    background: #BD8D64;
    border-radius: 1.5rem;
    border: 2px solid #60483A;
    -webkit-animation:  Show 0.6s ease both;
    animation:  Show 0.6s ease both;
    cursor: default;
    &.hide{
        -webkit-animation:  Hide 0.6s ease both;
        animation:  Hide 0.6s ease both;
    }
    .close-btn{
        position: absolute;
        top:3rem;
        right:2rem;
        width:1.8rem;
        height:1.8rem;
        background: url('../../../assets/img/common/close.png') no-repeat center center;
        background-size: 1.8rem;
        cursor: pointer;
    }
    .title{
        color: #3F3027;
        font-family: Gagalin;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .mini-title{
        margin-top:4rem;
        font-family: "LogoSC LongZhuTi";
        font-size: 1.2rem;
        color: #3F3027;
        letter-spacing: 0;
        line-height: normal;
        font-weight: 400;
        &:first-child{
            margin-top:3rem;
        }
    }

    .btn-group{
        margin-top:1.2rem;
        display: flex;
        align-items: center;
        .btn{
            width:12.3rem;
            height:3.2rem;
            padding-bottom: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Gagalin;
            font-size: 1.4rem;
            color: #282722;
            cursor: pointer;
            &.active{
                background: url('../../../assets/img/common/small-yellow-btn-bg.png') no-repeat center center;
                background-size: contain;
            }
        }
    }
    
    
    .save-btn{
        margin:7rem auto 0;
        width:18.6rem;
        height:3.2rem;
        padding-bottom: 0.4rem;
        background: url('../../../assets/img/common/gray-btn-bg.png') no-repeat center center;
        background-size: contain;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        color: #282722;
        font-family: Gagalin;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}