.leaderboard-page{
    display: block;
    width:100%;
    // height:100vh;
    // overflow-y: auto;
    padding-bottom:6rem;
    background: #0D0E27;
    .banner{
        width:100%;
        height:18rem;
        background:url('../../assets/images/leaderboard/banner.png') no-repeat left top;
        background-size: 100%;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:7.4rem;
            background:url('../../assets/images/leaderboard/mask.png') no-repeat left top;
            background-size: cover;
            z-index: 2;
        }
    }
    
}