.battle-result-module{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    width: 33.5rem;
    padding: 2.2rem 2rem 3.5rem;
    background: #BD8D64;
    border-radius: 1.5rem;
    border: 2px solid #60483A;

    text-align: center;
    &::after{
        content: "";
        position: absolute;
        top: -11.4rem;
        left: 50%;
        transform: translateX(-50%);
        width:100%;
        height:14.8rem;
        background: url('') no-repeat center center;
        background-size: contain;
    }
    &.battle-result-success{
        &::after{
            background-image: url('../../../assets/img/battle/result/win-img.png')
        }
    }
    &.battle-result-fail{
        &::after{
            background-image: url('../../../assets/img/battle/result/lose-img.png')
        }
    }
    &.battle-result-draw{
        &::after{
            background-image: url('../../../assets/img/battle/result/draw-img.png')
        }
    }
    .close-btn{
        position: absolute;
        top:3rem;
        right:2rem;
        width:1.8rem;
        height:1.8rem;
        background: url('../../../assets/img/common/close.png') no-repeat center center;
        background-size: 1.8rem;
        cursor: pointer;
    }
    .battle-result-module-content{
        position: relative;
        z-index: 1;
        .result-title{
            height: 4rem;
            color: #CAAD95;
            -webkit-text-stroke-width: 0.3rem;
            -webkit-text-stroke-color: #282722;
            font-family: Gagalin;
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 800;
            line-height: 4rem;
        }

        .result-rewards{
            margin:2.6rem auto 0;
            height: 3.3rem;
            padding: 0 1.5rem;
            border-radius: 0.5rem;
            background: rgba(202, 173, 149, 0.31);
            display: inline-flex;
            align-items: center;

            font-family: "LogoSC LongZhuTi";
            font-size: 2rem;
            color: #3F3027;
            text-align: center;
            line-height: 3.3rem;
            font-weight: 400;
            .coin{
                margin-left:0.5rem;
                width:2rem;
                height:2rem;
                background: url('../../../assets/img/common/coin.png') no-repeat center center;
                background-size: contain;
            }
        }

        .battle-result{
            margin:2.6rem 0;
            height: 15.6rem;
            padding: 2.3rem 1.5rem;
            border-radius: 1rem;
            background: #CD9F77;

            .battle-user{
                margin-top:1rem;
                display: flex;
                align-items: center;
                position: relative;
                &:first-child{
                    margin-top:0;
                }
                .avatar{
                    width:5rem;
                    height:5rem;
                    background: url() no-repeat center center;
                    background-size: cover;
                    position: relative;
                }
                .userinfo{
                    margin-left:1.2rem;
                    color: #3F3027;
                    .name{
                        font-family: "LogoSC LongZhuTi";
                        font-size: 1.4rem;
                        letter-spacing: 0;
                        line-height: 1.7rem;
                        font-weight: 700;
                        text-align: left;
                    }
                    .score{
                        margin-top:0.2rem;
                        font-family: "LogoSC LongZhuTi";
                        font-size: 1.4rem;
                        letter-spacing: 0;
                        line-height: 1.7rem;
                        font-weight: 500;
                    }
                }

                .battle-list{
                    position: absolute;
                    right:0;
                    top: 50%;
                    transform: translateY(-50%);
                    display: flex;
                    align-items: center;
                    .battle-item{
                        margin-left:0.1rem;
                        width: 1rem;
                        height:1rem;
                        background: #60483A;
                        border: 1px solid #60483A;
                        border-radius: 50%;
                        // background: #61D642;
                        //0 - fail, 1 - win, 2 - draw, 3 - no bet
                        &.battle-item-0{
                            background: #BB5656
                        }
                        &.battle-item-1{
                            background: #689966;
                        }
                        &.battle-item-2{
                            background: #998B81;
                        }
                        &.battle-item-3{
                            background: #60483A;
                        }
                    }
                }
            }
        }

        .leave-game{
            margin:2.6rem 0;
            height: 15.6rem;
            padding-top:11.3rem;
            border-radius: 1rem;
            background:#CD9F77 url('../../../assets/img/battle/result/flee.png') no-repeat center 1rem;
            background-size: auto 10.3rem;

            font-family: "LogoSC LongZhuTi";
            font-size: 1.4rem;
            color: #3F3027;
            letter-spacing: 0;
            text-align: center;
            line-height: 1.7rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .name{
                margin-right: 0.6rem;
                max-width: 8rem;
                // color: rgba(17,17,17,1);
            }
        }

        .battle-result-btn{
            margin:0.8rem auto 0;
            width:18.6rem;
            height:3.2rem;
            padding-bottom: 0.4rem;
            background: url('../../../assets/img/common/gray-btn-bg.png') no-repeat center center;
            background-size: contain;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;
            color: #282722;
            font-family: Gagalin;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &.share-btn{
                margin-top: 2.6rem;
                background-image: url('../../../assets/img/common/yellow-btn-bg.png');
            }
            &.start-btn{
                
            }
        }


        .tip{
            margin-top:2.4rem;
            font-family: "LogoSC LongZhuTi";
            font-size: 1rem;
            color: #60483A;
            letter-spacing: 0;
            line-height: 1.7rem;
            font-weight: 400;
            text-align: center;
        }
    }


    &.battle-result-fail{
        border: 2px solid #706761;
        background: #998B81;
        .battle-result-module-content{
            .result-rewards{
 
            }
            .battle-result{
                background: #CCBEB4;
            }
            .tip{
                color: #3F3027;
            }
        }
    }
    
}