.history-mask{
    -webkit-animation:  MaskShow 0.6s ease both;
    animation:  MaskShow 0.6s ease both;
    &.hide{
        -webkit-animation:  MaskHide 0.6s ease both;
        animation:  MaskHide 0.6s ease both;
    }
}

.history-module{
    position: absolute;
    top: 50%;
    left: 2rem;
    width: 33.5rem;
    padding: 4.5rem 0 3.7rem!important;
    -webkit-animation:  Show 0.6s ease both;
    animation:  Show 0.6s ease both;
    // background: transparent!important;
    background:transparent url("../../assets/img/adventure/bet-history-bg.png") no-repeat top center!important;
    background-size: 100% auto!important;
    // text-align: center;
    // &::after{
    //     position: absolute;
    //     bottom:0;
    //     left:0;
    //     width: 100%;
    //     height: 40%;
    //     background: url("../../assets/img/adventure/bet-history-bg.png") no-repeat top center;
    //     background-size: 100% auto;
    // }
    &::after{
        content: "";
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
        padding-top: 90.0699%;
        background: url("../../assets/img/adventure/bet-history-bg2.png") no-repeat top center;
        background-size: 100% auto;
    }
    &.hide{
        -webkit-animation:  Hide 0.6s ease both;
        animation:  Hide 0.6s ease both;
    }
    .close-btn{
        position: absolute;
        top:3.3rem;
        right:2.4rem;
        width:1.2rem;
        height:1.2rem;
        background: url('../../assets/img/common/ic-close.png') no-repeat center center;
        background-size: cover;
        cursor: pointer;
        z-index: 1;
    }
    .module-content{
        padding: 0 1.7rem;
        position: relative;
        z-index: 1;
        .title{
            margin-left: 2rem;
            display: inline-block;
            padding-left: 3.9rem;
            color: #000;
            font-family: "Pixeloid Sans";
            font-size: 3.2rem;
            line-height: 3.2rem;
            font-weight: 700;
            background: url('../../assets/img/adventure/history.png') no-repeat left center;
            background-size: 3.2rem;
            
        }

        .split-line{
            margin: 1rem 2rem;
            height: 0.5rem;
            background: url("../../assets/img/adventure/horizontal-split-line.png") repeat left center;
            background-size: auto 100%;
        }

        .list-box{
            .list{
                // padding: 1.5rem 0 0;
                // height:50vh;
                // overflow-y: scroll;
                .item{
                    padding: 0.8rem 2.2rem;
                    // margin:1.5rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .icon{
                        width:6rem;
                        height:3.5rem;
                        padding-left: 4.7rem;
                        background: url("../../assets/img/adventure/emoji-win.png") no-repeat left center;
                        background-size: auto 100%;
                        display: flex;
                        align-items: center;
                        color: #FED000;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #272622;
                        font-family: "Pixeloid Sans-Bold";
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 2rem;
                        letter-spacing: -0.64px;
                        &.lose{
                            color: #BA3463;
                            font-size: 1.5rem;
                            background-image: url("../../assets/img/adventure/emoji-lose.png")
                        }
                        &.neutral{
                            color: #BA3463;
                            font-size: 1.5rem;
                            background-image: url("../../assets/img/adventure/emoji-neutral.png")
                        }
                        &.double-win{
                            font-size: 1.2rem;
                        }
                    }
                    .coin{
                        width: 9rem;
                        color: #000;
                        font-family: "Pixeloid Sans";
                        font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 2rem;
                        letter-spacing: -0.72px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        .coin-icon{
                            margin-left:0.2rem;
                            width:2.2rem;
                            height:2.2rem;
                            background: url("../../assets/img/adventure/coin.png") no-repeat center center;
                            background-size: 100%;
                        }
                    }
                    .time{
                        color: #000;
                        font-family: "Pixeloid Sans";
                        font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 2rem;
                        letter-spacing: -0.72px;
                    }
                }

                .no-more, .scroll-loading{
                    padding-bottom:3rem;
                    font-family: "Pixeloid Sans";
                    font-size: 1.2rem;
                    color: #191919;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 1.6rem;
                    font-weight: 400;
                    .icon{
                        margin: 0 auto 0.6rem;
                        width:1.6rem;
                        height: 1.6rem;
                        background: url("../../assets/images/common/icon-loading-white.png") no-repeat center center;
                        background-size: cover;
                        -webkit-animation: Rotate 1.1s linear infinite;
                        animation: Rotate 1.1s linear infinite;
                    }
                }

                .infinite-scroll-component {
                    &:has(.no-data){
                        .no-more{
                            display: none;
                        }
                    }
                }

                @-webkit-keyframes Rotate{
                0%{ -webkit-transform: rotate(0deg);}
                100%{ -webkit-transform: rotate(360deg);}
                }
                @keyframes Rotate{
                    0%{ -webkit-transform: rotate(0deg);}
                    100%{ -webkit-transform: rotate(360deg);}
                }

                .no-data{
                    padding: 10.4rem 0 3rem;
                    background: url('../../assets/images/common/no-data.png') no-repeat center 3.6rem;
                    background-size: 6rem;
                    border-radius: 24px;
                    font-family: SourceCodePro-Regular;
                    font-size: 1.2rem;
                    color: #666666;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 1.6rem;
                    font-weight: 400;
                }
            }
            // &::after{
            //     content: "";
            //     position: absolute;
            //     width:100%;
            //     height:11rem;
            //     left:0;
            //     bottom:0;
            //     background: url('../../assets/images/common/mask.png') no-repeat center bottom;
            //     background-size: 100%;
            //     pointer-events: none;
            // }
        }
    }
    
    
    .save-btn{
        margin-top:3rem;
        width:27.5rem;
        height:5rem;
        background: url('../../assets/images/common/btn-2.png') no-repeat center bottom;
        background-size: 100%;
        -webkit-animation: Btn 1s ease infinite;
        animation: Btn 1s ease infinite;
        font-family: SourceCodePro-Medium;
        font-size: 1.4rem;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
        font-weight: 500;
        line-height:4.2rem;
    }
}