.invite-success-module{
    .close-btn{
        position: absolute;
        top:3rem;
        right:2rem;
        width:1.8rem;
        height:1.8rem;
        background: url('../../assets/images/common/ic-close.png') no-repeat center center;
        background-size: 1.8rem;
        cursor: pointer;
        z-index: 2;
    }
    .title{
        padding-bottom:1.5rem;
        font-family: SourceCodePro-Bold;
        font-size: 1.7rem;
        color: #FFFFFF;
        line-height: 2.1rem;
        font-weight: 700;
    }
    .intro{
        margin-top:1.5rem;
        font-family: SourceCodePro-Regular;
        font-size: 1.3rem;
        color: rgba(255,255,255,0.50);
        letter-spacing: 0;
        text-align: 1.9rem;
        font-weight: 400;
        text-align: center;
        span{
            color: rgba(255,255,255,1);
        }
    }
    .coins{
        margin:2rem auto 0;
        width:15rem;
        height:15rem;
        padding-top: 10.3rem;
        background: rgba(0,0,0,0.3) url('../../assets/images/common/ic-coin.png') no-repeat center 3.2rem;
        background-size: 6rem;
        clip-path: polygon(0.6rem 0.6rem, 0.6rem 0, calc(100% - 0.6rem) 0, calc(100% - 0.6rem) 0.6rem, 100% 0.6rem, 100% calc(100% - 0.6rem), calc(100% - 0.6rem) calc(100% - 0.6rem),calc(100% - 0.6rem) 100%,  0.6rem 100%, 0.6rem calc(100% - 0.6rem), 0 calc(100% - 0.6rem), 0 0.6rem);
        font-family: SourceCodePro-Regular;
        font-size: 1.3rem;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 1.6rem;
        font-weight: 400;
    }
    .tip{
        margin-top:1.8rem;
        font-family: SourceCodePro-Regular;
        font-size: 1.3rem;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 1.9rem;
        font-weight: 400;
    }
    .confirm-btn{
        margin-top:3rem;
        width:27.5rem;
        height:5rem;
        background: url('../../assets/images/common/btn-2.png') no-repeat center bottom;
        background-size: 100%;
        -webkit-animation: Btn 1s ease infinite;
        animation: Btn 1s ease infinite;
        font-family: SourceCodePro-Medium;
        font-size: 1.4rem;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
        font-weight: 500;
        line-height:4.2rem;
        cursor: pointer;
    }
}


@-webkit-keyframes HeadItemMove{
    0%{ 
        -webkit-transform: translateX(0);
    }
    100%{ 
        -webkit-transform: translateX(-50%);
    }
}
@keyframes HeadItemMove{
    0%{ 
        transform: translateX(0);
    }
    100%{ 
        transform: translateX(-50%);
    }
}