.coins-recharging-mask{
    background: rgba(0,0,0,0.8);
}
.coins-recharging-module{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    width: 33.5rem;
    padding: 3rem;
    background: #BD8D64;
    border-radius: 1.5rem;
    border: 3px solid #60483A;
    .close-btn{
        position: absolute;
        top:3rem;
        right:2rem;
        width:1.8rem;
        height:1.8rem;
        background: url('../../assets/img/common/close.png') no-repeat center center;
        background-size: 1.8rem;
        cursor: pointer;
    }
    .title{
        color: #3F3027;
        font-family: "LogoSC LongZhuTi";
        font-size: 1.8rem;
        line-height: 2.1rem;
        font-weight: 700;
        text-align: center;
    }
    .intro{
        margin-top:3rem;
        color: #3F3027;
        font-family: "LogoSC LongZhuTi";
        // font-family: Lato;
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 2rem;
        font-weight: 400;
        text-align: center;
    }
    .confirm-btn{
        margin:2.4rem auto 0;
        width:18.6rem;
        height:3.2rem;
        padding-bottom: 0.4rem;
        background: url('../../assets/img/common/yellow-btn-bg.png') no-repeat center center;
        background-size: contain;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        color: #282722;
        font-family: Gagalin;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}