.reject-battle-mask{
    z-index: 100;
}
.reject-battle-module{
    padding: 3rem !important;
    .close-btn{
        position: absolute;
        top:3rem;
        right:2rem;
        width:1.8rem;
        height:1.8rem;
        background: url('../../../assets/images/common/ic-close.png') no-repeat center center;
        background-size: 1.8rem;
        cursor: pointer;
    }
    .invite-user{
        .avatar{
            margin: 0 auto;
            width:5rem;
            height:5rem;
            background: url() no-repeat center center;
            background-size: cover;
            position: relative;
            .user-status{
                position: absolute;
                right: -0.5rem;
                bottom: 0;
                width: 1.5rem;
                height:1.5rem;
                background: url() no-repeat center center;
                background-size: cover;
            }
        }
        .name{
            margin-top:1.2rem;
            width: 100%;
            font-family: SourceCodePro-Bold;
            font-size: 1.4rem;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 1.8rem;
            font-weight: 700;
            text-align: center;
        }
    }


    .intro{
        margin-top:1rem;
        font-family: SourceCodePro-Regular;
        font-size: 1.2rem;
        color: rgba(255,255,255,0.7);
        letter-spacing: 0;
        text-align: center;
        line-height: 1.7rem;
        font-weight: 400;
    }

    .confirm-btn{
        margin-top:3rem;
        width:27.5rem;
        height:5rem;
        background: url('../../../assets/images/common/btn-2.png') no-repeat center bottom;
        background-size: 100%;
        -webkit-animation: Btn 1s ease infinite;
        animation: Btn 1s ease infinite;
        font-family: SourceCodePro-Medium;
        font-size: 1.4rem;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
        font-weight: 500;
        line-height:4.2rem;
        cursor: pointer;
    }
    
}